.ico-3{
	height: 90px;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    width: 90px;
}

.ico-4{
	height: 90px;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    width: 90px;
}

.ico-5{
	height: 90px;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    width: 90px;
}

.ico-6{
	height: 90px;
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
    width: 90px;
}